
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Font icons
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@mixin full-height {
    height: 100%;
}

@mixin full-width {
    width: 100%;
}

@mixin max-full-height {
    max-height: 100%;
}

@mixin max-full-width {
    max-width: 100%;
}

@mixin position-ref {
    position: relative;
}

@mixin flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

html,
body {
    height: 100%;
    margin: 0;
    background-color: $body-bg;
    color: #ddd;
}

strong {
    font-size: larger;
}

.welcome-body {
    background-color: black;
}

#app {
    @include full-width;
    @include full-height;
}

#medium-container {
    @include flex-center;
    @include position-ref;
    @include full-width;
    @include full-height;
}

#medium-container.blocked {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(8px) opacity(30%);
}

#medium-container #medium {
    @include max-full-height;
    @include max-full-width;
}

button {
    max-width: max-content;
}

.permalink {
    display: none;
    background-color: rgba(0,0,0,0.7);
    border: none;
    color: white;
    padding: 22px 44px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    border-radius: 10px;
    outline: 0;
}

.login-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;

    p {
        margin-top: 1rem;
        max-width: 400px;
        font-size: smaller;
    }
}

.bottom-app-interface {
    display: flex;
    position: absolute;
    width: 100%;
    z-index: 10;
    bottom: 0;
    justify-content: space-between;
}

.app-button {
    display: block;
    color: #ddd;
    font-size: 40px;
    margin: 20px;
    cursor: pointer;
    text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 4px;
}

.modal-content {
    border: 0;
    background-color: black;
}

.modal-header {
    border-bottom: 0;
}

.modal-body {
    text-align: center;
}

.modal-footer {
    border-top: 0;
}

.close {
    color: #ddd;
    opacity: 0.7;
}

.close:hover {
    color: #ddd;
}

.btn-outline-secondary {
    color: #aaa;
    border-color: #aaa;
}

.btn-primary {
    color: #ddd;
}

#merge {
    #medium {
        max-width: 100%;
        max-height: 28vh;
    }

    .row {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .duplicates {
        background-color: black;
        padding-top: 0;
        padding-bottom: 0;

        div[class*='col-'] {
            padding: 15px;
        }
    }

    p {
        color: black;
    }
}